@using BabyKat.Core.Models.Productt
@model ProductModel

@{
    ViewBag.Title = "Edit Product";
}

<h2 class="text-center"> @ViewBag.Title</h2>
<hr/>



<partial name="_ProductPartial" model="@Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
