@using BabyKat.Core.Models.Articlesss
@model IEnumerable<ArticleModel>


@{
    ViewBag.Title = "All Articles";
}

<h2 class="text-center"> @ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var article in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            
            <div class="card-body">

                <h5 class="card-title mt-1">@article.Title</h5>
                <p class="mb-0">Price: @article.Description</p>

            </div>

            <a asp-controller="Comment" asp-action="Add" asp-route-articleId="@article.Id" class="btn btn-outline-success">Add Comment</a>
        </div>
    }
</div>