@using BabyKat.Core.Models.Post
@model PostModel

@{
    ViewBag.Title = "Add Book";
}



<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_PostPartial" model="@Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

